* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: 10px;
	font-family: 'Nunito', helvetica, arial, sans-serif;
	color: #222;
	line-height: 1;
}

body, ul, li, h1, h2 {
	padding: 0;
	margin: 0;
	border: 0;
	font-weight: normal;
}

ul, li {
	list-style: none;
}

.wrapper {
	width: 1100px;
	margin: 0 auto;
}

header {
	display: block;
	padding: 20px 0;
}

footer {
	display: block;
	clear: both;
	font-size: 1.1em;
	text-align: center;
	padding: 20px 0;
}

h1 {
	font-size: 2.4em;
	margin-bottom: 0.2em;
	font-weight: bold;
}

h2 {
	font-size: 1.6em;
}

#kbwindow {
	width:100%;
	height:550px;
	border:0;
}

#choosekb{
	margin-bottom:20px;
}

.choosetype{
	font-size: 1.5em;
}

#keyboard {
	float: left;
	font-size: 1.9em;
	background-color: #222;
	overflow: auto;
	width: 616px;
	padding: 9px 6px 15px 6px;
	border-radius: 8px;
	background-image:url(../images/sticker/4.png);
	background-repeat:no-repeat;
	background-position-x:center;
	background-position-y:center;
	background-size:123% 150%;
	background-position:0px 0px;
}

#keyboard ul {
	display: block;
	float: left;
	width: 100%;
}

#keyboard li {
	display: block;
	float: left;
	height: 40px;
	padding: 1px;
	overflow: hidden;
}

#keyboard li span {
	display: block;
	width: 100%;
	height: 38px;
	text-align: center;
	line-height: 37px;
	border-radius: 5px;
	box-shadow: inset 0 -2px 0 4px rgba(0,0,0,0.1);
}

.small {
	font-size: 0.7em;
}

.smaller {
	font-size: 0.6em;
}

.u100 {
	width: 40px;
}

.u125 {
	width: 50px;
}

.u150 {
	width: 60px;
}

.u175 {
	width: 70px;
}

.u200 {
	width: 80px;
}

.u225 {
	width: 90px;
}

.u250 {
	width: 100px;
}

.u275 {
	width: 110px;
}

.u300 {
    width: 120px;
} 

.u625 {
	width: 250px;
}

#keyboard .rspace125 {
	margin-right: 50px;
}

#keyboard .rspace100 {
	margin-right: 40px;
}

#keyboard .rspace040 {
	margin-right: 15px;
}

#keyboard .rspace050 {
	margin-right: 20px;
}

#keyboard .rspace025 {
	margin-right: 10px;
}

#keyboard .rspace325 {
	margin-right: 130px;
}

#keyboard .rspace350 {
	margin-right: 140px;
}

#keyboard .bspace050 {
	margin-bottom: 15px;
}

#keyboard .bspace037 {
	margin-bottom: 10px;
}

#keyboard .bspace025 {
	margin-bottom: 10px;
}

#colors ul {
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

#colors li {
	position: relative;
	display: block;
	float: left;
	width: 20px;
	height: 38px;
	margin: 1px;
}

#colors li span {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;

	border: 1px solid #000;
	line-height: 40px;
	text-align: center;
	color: #a00;
	font-size: 1.2em;
	border-radius: 2px;
	box-shadow: inset 0 -4px 0 rgba(0,0,0,0.2);
}

#colors li em {
	display: none;
	position: absolute;
	z-index: 222;
	width: 58px;
	height: 20px;
	line-height: 20px;
	bottom: -12px;
	left: -20px;
	font-size: 1.3em;
	font-style: normal;
	background: #fff;
	border: 1px solid #000;
	border-radius: 2px;
	text-align: center;
	overflow: hidden;
	box-shadow: 3px 3px 0 rgba(0,0,0,0.3)
}

#colors li:hover em {
	display: block !important;
}

#colors span.keycolor {
	width: 26px;
	height: 48px;
	top: -5px;
	left: -3px;
	z-index: 102;
	border-width: 1px;
	box-shadow: inset 0 -5px 0 rgba(0,0,0,0.2),
		0 0 0 3px rgba(0,0,0,0.4);
}

#colors span.legendcolor {
	width: 26px;
	height: 48px;
	top: -5px;
	left: -3px;
	z-index: 101;
	border-width: 1px;
	box-shadow: inset 0 -5px 0 rgba(0,0,0,0.2),
		0 0 0 3px rgba(255,255,255,0.7);
}

.preview {
	float: right;
	width: 100px;
	height: 276px;
	margin-left: 7px;
}



.keypreview {
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
	position: relative;
}

.previewcolor {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	z-index: 10;
	border-radius: 10px;
}

.previewoverlay {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
	line-height: 100px;
	background: url(../images/key-small.png) 0 0 no-repeat;
	background-size: 100px 100px;
	border-radius: 10px;
	font-size: 2em;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.05),
		0 1px 0 rgba(255,255,255,0.05);
	border: 1px solid rgba(0,0,0,0.3);
	box-shadow: 0 2px 4px rgba(0,0,0,0.25);
	text-align: center;
}

#previewoverlay.dark {
	background-position: -100px 0;
	border: 1px solid rgba(0,0,0,0.8);;
}

.summary {
	width: 100px;
}

.summary div {
	width: 100%;
	height: 44px;
	border-radius: 8px;
	box-shadow: inset 0 -6px 0 rgba(0,0,0,0.25),
		0 2px 4px rgba(0,0,0,0.25);
	border: 1px solid #111;
	margin-bottom: 10px;
	font-size: 2.6em;
	line-height: 40px;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.05),
		0 1px 0 rgba(255,255,255,0.05);
}

#modpreview .previewoverlay {
	font-size: 5em;
}


#select {
	width: 100%;
	margin-bottom: 10px;
	overflow: auto;
}

#select div {
	float: left;
	width: 150px;
	padding: 10px 0;
	border: 1px solid #777;
	text-align: center;
	border-radius: 2px;
	margin-right: 10px;
	font-size: 1.3em;
	background: #eee;
	color: #777;
	box-shadow: inset 0 -3px rgba(0,0,0,0.2),
		inset 0 1px #fff;
	cursor: pointer;
}

#select div.selected {
	background: #d33000;
	color: #fff;
	border: 1px solid #222;
	box-shadow: inset 0 2px rgba(0,0,0,0.2);
	padding: 12px 0 8px 0;
}

#kbcolor {
	width: 100%;
	clear: both;
	padding: 5px 0;
	overflow: auto;
}

#kbcolor li {
	display: block;
	float: left;
	width: 50px;
	height: 10px;
	overflow: hidden;
	text-indent: -99999em;
	text-align: center;
	border-radius: 3px;
	margin-right: 5px;
	border: 1px solid #000;
	cursor: pointer;
}

#kbBlack {
	background: #222;
}

#kbGrey {
	background: #5d645d;
}

#kbWhite {
	background: #f2f2f2;
}

#kbRed {
	background: #D02E1E;
}

#kbGreen {
	background: #78C346;
}

#kbBlue {
	background: #2773C2;
}

#kbPink {
	background: #E05CDB;
}

#kbYellow {
	background: #F7E02C;
}

.button {
  background: #79bbff;
  background-image: -webkit-linear-gradient(top, #79bbff, #378de5);
  background-image: -moz-linear-gradient(top, #79bbff, #378de5);
  background-image: -ms-linear-gradient(top, #79bbff, #378de5);
  background-image: -o-linear-gradient(top, #79bbff, #378de5);
  background-image: linear-gradient(to bottom, #79bbff, #378de5);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  text-shadow: 0px 1px 0px #528ecc;
  -webkit-box-shadow: 3px 4px 0px 0px #1564ad;
  -moz-box-shadow: 3px 4px 0px 0px #1564ad;
  box-shadow: 3px 4px 0px 0px #1564ad;
  font-family: Arial;
  color: #ffffff;
  font-size: 10px;
  padding: 4px 10px 4px 10px;
  border: solid #337bc4 1px;
  text-decoration: none;
}


.file1 {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 20px;}.file input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;}.file:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;}

#sticker {
	float: left;
	font-size: 1.9em;
	overflow: auto;
	width: 740px;
	padding: 6px 6px 6px 6px;
	border-radius: 8px;
}

.buttonbg {
	padding: 6px 16px 6px 16px;
}

